.bg-intro-splash {
  background-image: url("../assets/photos/strike-fight.jpg");
}
.barrington-splash {
  background-image: url("../assets/photos/barrington-hub-splash.jpg");
}
.brown-risd-splash {
  background-image: url("../assets/photos/brown-risd-hub-splash.jpg");
}
.providence-splash {
  background-image: url("../assets/photos/providence-hub-splash.jpg");
}
.south-county-splash {
  background-image: url("../assets/photos/south-county-hub-splash.jpg");
}
